<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Post edit</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>


<div class="container mt-5 mb-5">
  <h1>Edit post</h1>
  <div th:each="element : ${post}">
    <form method="post">
      <input type="text" th:value="${element.title}" name="title" placeholder="Type the title of the article" class="form-control">
      <br>
      <input type="text" th:value="${element.announce}" name="announce" placeholder="Type the announce" class="form-control">
      <br>
      <textarea name="full_text" placeholder="Type the full text of the article" class="form-control" th:value="${element.full_text}"></textarea>
      <br>
      <button type="submit" class="btn-btn-success">Update</button>
    </form>
  </div>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>